@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Overpass Mono', monospace; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #1B1464;
    transition: 0.4s ease;
}

ul{
    list-style-type: "* ";
}

strong {text-decoration: underline;}

.top-bar-container > nav > ul > li > .current{
    border-bottom: 2px solid #EC008C;
    color: #EC008C;
}

.top-bar-container > nav > ul > li > a:hover{
    color: #EC008C;
}

.top-bar-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 60px;
    background-color: #00FFC5;
    padding: 0 3rem;
    overflow-x: hidden;
}

.top-bar-container > nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-bar-container > nav > ul{
    display: flex;
    gap: 5rem;
    margin-left: auto;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.hamburger{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 2rem;
    cursor: pointer;
    height: 2rem;
    justify-content: space-between;
}

.hamburger > .bar{
    width: 100%;
    height: 0.4rem;
    background-color: #1B1464;
    transition: 0.3s;
}

.hamburger.active > .bar:nth-of-type(2){
    opacity: 0;
    visibility: hidden;
}

.hamburger.active > .bar:first-of-type{
    transform: rotate(45deg) translateY(1.1rem);
}

.hamburger.active > .bar:last-of-type{
    transform: rotate(-45deg) translateY(-1.1rem);
}

/* footer */

footer{
    display: flex;
    justify-content: space-evenly;
    min-height: 20vh;
    background-color: #00FFC5;
    color: #1B1464;
    align-items: center;
    padding: 2rem;
}

footer >h2{
    text-align: center;
    font-size: 1.5rem;
    flex-basis: 22%;
}

footer > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 22%;
}

footer > section > ul {
    list-style-type: "* ";
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer > section > h3{
    font-size: 1.5rem;
    text-align: center;
    flex-basis: 22%;
}

footer > img{
    height: 4rem;
}

footer > section:last-of-type > ul {
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width:1100px) {
    footer{
        flex-direction: column;
        gap: 3rem;
    }

    footer > h2{
        font-size: 2rem;
    }

    footer > section > h3{
        font-size: 2rem;
    }

    footer > section > a {
        font-size: 1.8rem;

    }
   
}

@media screen and (max-width:860px) {
    footer{
        flex-direction: column;
        gap: 3rem;
    }
}

@media screen and (max-width:1100px) {
    .hamburger {visibility: visible;}
    .top-bar-container > nav{
        justify-content: flex-end;
    }
    .top-bar-container > nav > ul{
        position: fixed;
        left: 100%;
        top: 54px;
        padding: 7rem 2rem;
        background-color: #00FFC5;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        flex-direction: column;
        margin: 0 auto;
    }

    .top-bar-container > nav > ul.active{
        left: 0;
    }
}
