header {
    background-image: url(img/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

header > .content{
    flex-grow: 1;
    padding: 13% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;
}


.title > h1 {
    margin: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}

.title > h1 > span {
    display: inline;
    color: #1B1464;
    letter-spacing: 5px;
    line-height: 1.6;
    background-color: #EC008C;
}

.title-assets > p {
    display: block;
    margin: 0;
    text-align: center;
}

.title-assets > p > span {
    display: block;
    color: #e6e6e6;
    font-size: 2rem;
    font-weight: bold;
}

header > .content > a {
    background-color: #00FFC5;
    border-radius: 20px;
    padding: 1rem 4rem 1rem 4rem;
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    color: #1B1464;
    transition: 0.5s ease;
}

header > .content > a:hover {
    background-color:#e6e6e6;
}

header > #button-back-container {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
}

header > #button-back-container > a {
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    color: #1B1464;
}

header > #button-back-container > a:hover {
    color: #EC008C;
}

main > .presentation-formations{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main > .presentation-formations h3{
    font-size: 2rem;
}

main > .presentation-formations > .master  h3{
    color:#EC008C;
}

main > .presentation-formations > .master  p{
    color:#1B1464;
}

main > .presentation-formations > .ingenieur  h3{
    color:#00FFC5;
}

main > .presentation-formations > .ingenieur  p, main{
    color:#e6e6e6;
}

main > .presentation-formations a{
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #EC008C;
    border-radius: 10px;
    color: #e6e6e6;
    transition: 0.5s ease;
}

main > .presentation-formations a:hover{
    background-color: #1B1464;
    color: #e6e6e6;
}

main > .presentation-formations > .ingenieur a{
    background-color: #00FFC5;
    color: #1B1464;
    transition: 0.5s ease;
}

main > .presentation-formations > .ingenieur a:hover{
    background-color: #e6e6e6;
    color:#1B1464;
}

main > .presentation-formations p{
    font-size: 1.2rem;
}


main > .presentation-formations > section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    height: 50%;
}

main > .presentation-formations .texte{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

main > .presentation-formations > .ingenieur > .texte{
    align-items: flex-end;
}

main > .presentation-formations img {
    height: 40vh;
}

main > .presentation-formations > .ingenieur{
    background-color: #1B1464;
    flex-direction: row-reverse;
    text-align: right;
}

.rectangles{
    display: flex;
    justify-content: space-between;
}


.rectangles > .rectangles-gauche > .rectangle-purple{
    background-color: #EC008C;
    height: 4rem;
    width: 20rem;
    position: relative;
    top: -1.3rem;
    z-index: 1;
}

.rectangles > .rectangles-gauche > .rectangle-blue{
    background-color: #1B1464;
    height: 4rem;
    width: 22rem;
    position: relative;
    top: -3.4rem;
}

.rectangles > .rectangles-gauche > .rectangle-green{
    background-color:#00FFC5;
    height: 4rem;
    width: 22rem;
    position: relative;
    top: -3.4rem;
}

.rectangles > .rectangles-droite > .rectangle-purple{
    background-color: #EC008C;
    height: 4rem;
    width: 22rem;
    position: relative;
    top: -1.3rem;
    z-index: 1;
}

.rectangles > .rectangles-droite > .rectangle-blue{
    float: right;
    background-color: #1B1464;
    height: 4rem;
    width: 20rem;
    position: relative;
    top: -3.4rem;
}

.rectangles > .rectangles-droite > .rectangle-green{
    float: right;
    background-color:#00FFC5;
    height: 4rem;
    width: 20rem;
    position: relative;
    top: -3.4rem;
}

.ecoles-ingenieures{
    background-color: #e6e6e6;
    width: 100%;
}

.ecoles-ingenieures > .container-texte{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecoles-ingenieures > .container-texte > h2{
    background-color: #EC008C;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color:#1B1464;
    font-size: 2.5rem;
}

.ecoles-ingenieures > .container-texte > h3{
    font-size: 1.8rem;
    margin-top: 3rem;
    color: #e6e6e6;
    display: block;
    margin: 0vh;
    text-align: center;
    line-height: 180%;
}

.ecoles-ingenieures > .container-texte > h3 > span{
    padding: 0.2rem;
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    background-color: #1B1464;
    
}

.cards-container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    padding: 3rem 4rem 3rem 4rem;
    gap: 2rem;
}

.card{
    flex-grow: 1;
    background-color: #e6e6e6;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1.5fr 0.5fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card > .img-container{
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    /* overflow hidden pour éviter que l'image ne sorte du cadre défini par les border radius*/
}

.card > .img-container > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.cards-container > .card > .informations-ecole{
    padding: 0rem 3rem 1rem 3rem;
} 

.cards-container > .card > .informations-ecole > .privepublic-localisation{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}


.cards-container > .card > .informations-ecole > .description-site-web{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.cards-container > .card > .informations-ecole > .privepublic-localisation > h4{
    background-color: #1B1464;
    color: #e6e6e6;
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-radius: 20px;
}

.cards-container > .card > .informations-ecole > .privepublic-localisation > .nom-master{
    font-size: 1rem;
    background-color: #EC008C;
    color: #1B1464;
    font-weight: bold;
}

.cards-container > .card > .informations-ecole > .privepublic-localisation > p{
    color:#1B1464;
    font-size: 1.5rem;
    font-weight: bold;
}

.cards-container > .card > .informations-ecole > .description-site-web > ul > li {
    font-weight: 400;
    color:#1B1464;
    font-size: 1.2rem;
    margin: 1rem;
}

.cards-container > .card > .informations-ecole > .description-site-web > a{
    color:#1B1464;
    font-weight: bold;
    text-align: center;
    background-color: #EC008C;
    padding: 1rem 6rem 1rem 6rem; 
    border-radius: 48px;
    border: #EC008C 2px solid;
    transition: 0.4s ease;
    font-weight: bold;
}

.cards-container > .card > .informations-ecole > .description-site-web > a:hover{background-color: #e6e6e6;}

.principaux-master{
    background-color: #1B1464;
}

.principaux-master > .container-texte > h3{
    font-size: 2rem;
    margin-top: 3rem;
    color:#1B1464;
    display: block;
    margin: 0vh;
    text-align: center;
    line-height: 180%;
}

.principaux-master > .container-texte > h3 > span{
    padding: 0.2rem;
    display: inline;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: #e6e6e6;
}

.principaux-master > .container-texte{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1570px){
    main > .presentation-formations > section{
        display: flex;
        text-align: center;
        flex-direction:column-reverse;
        padding: 0 2.5rem;
    }
    main > .presentation-formations .image-grand-format{
        display: none;
    }

    main > .presentation-formations .texte, main > .presentation-formations > .ingenieur .texte{
        align-items: center;
    }

    main > .presentation-formations > .ingenieur{
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
     }
} 

@media screen and (max-width:910px) {

    header{
        display: flex;
        flex-direction: column;
    }

    header > .content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding-bottom: 2rem;
    }

    header > .content > .title > p > span{
        font-size: 3rem;
    }

    header > .content > .title-assets > p > span{
        font-size: 1.5rem;
    }

    .rectangles > .rectangles-gauche > .rectangle-purple, .rectangle-blue, .rectangle-green{
        width: 16rem;
    }
    
    .rectangles > .rectangles-gauche > .rectangle-blue{
        width: 18rem;
    }
    
    .rectangles > .rectangles-gauche > .rectangle-green{
        width: 18rem;
    }
    
    .rectangles > .rectangles-droite > .rectangle-purple{
        width: 18rem;
    }
    
    .rectangles > .rectangles-droite > .rectangle-blue{
        width: 16rem;
    }
    
    .rectangles > .rectangles-droite > .rectangle-green{
        width: 16rem;
    }

    .cards-container > .card > .informations-ecole > .privepublic-localisation{
        flex-wrap: wrap;
    }
    
    .cards-container > .card > .informations-ecole > .privepublic-localisation > h4{

        flex-basis: 40%;
        flex-grow: 1;
        text-align: center;
    }
    
    .cards-container > .card > .informations-ecole > .privepublic-localisation > p{
        flex-grow: 1;
        text-align: center;
    }

}

@media screen and (max-width:700px) {

    html{
        font-size: 13px; 
    }


    header > .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1rem 2rem 1rem;
    }
    header > .content > .title > p > span{
        line-height: 3rem;
    }

    header > .content > .title-assets > p > span{
        font-size: 1.5rem;
    }

    .cards-container > .card > .informations-ecole > .description-site-web{
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
    } 

    .rectangles > .rectangles-gauche > .rectangle-purple, .rectangle-blue, .rectangle-green{
        width: 14rem;
    }
    
    .rectangles > .rectangles-gauche > .rectangle-blue{
        width: 16rem;
    }
    
    .rectangles > .rectangles-gauche > .rectangle-green{
        width: 16rem;
    }
    
    .rectangles > .rectangles-droite > .rectangle-purple{
        width: 16rem;
    }
    
    .rectangles > .rectangles-droite > .rectangle-blue{
        width: 14rem;
    }
    
    .rectangles > .rectangles-droite > .rectangle-green{
        width: 14rem;
    }

}

@media screen and (max-width:528px) {

    html{
       font-size: 12px; 
    }

    .title > h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:400px){
    html{
        font-size: 10px; 
     }
}