
header > #button-back-container {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
}

header > #button-back-container > a {
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    color: #1B1464;
}

header > #button-back-container > a:hover {
    color: #EC008C;
}

/* accueil */

header > section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 7rem;
    gap: 1rem;
    align-items: center;
}

header > section > h1{
    font-size: 3rem;
    text-align: center;
}

header > section > h1 > span {
    display: inline;
    color: #1B1464;
    letter-spacing: 5px;
    line-height: 1.6;
    background-color: #EC008C;
}

header > section > .texte-illustration-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > section > .texte-illustration-container > p{
    font-size: 1.5rem;
    font-weight: bold;
    flex-basis: 70%;
    line-height: 2.3rem;
}

header > section > .texte-illustration-container > p > span:nth-child(odd) {
    background-color: #1B1464;
    color: #00FFC5;
    font-weight: inherit;
}

header > section > .texte-illustration-container > p > span:nth-child(even) {
    color: #1B1464;
    background-color: #00FFC5;
    font-weight: inherit;
}

header > section > .texte-illustration-container > p > span > a {
    color:#00FFC5;
    text-decoration: underline;
}

header > section > .texte-illustration-container > img{
    width: 25%;
}

header > section > .separation-line{
    margin-top: 2rem;
    height: 3px;
    width: 80%;
    background-color: #EC008C;
}

header > section > .avantages-choix-container{
    display: flex;
    justify-content: space-evenly;
}

header > section > .avantages-choix-container > div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > section > .avantages-choix-container > div > h2{
    position: relative;
    top: 2.5rem;
}

header > section > .avantages-choix-container > div > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #1B1464;
    border-radius: 20px;
    color: #e6e6e6;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header > section > .avantages-choix-container > div > h2{
    background-color: #EC008C;
    color: #1B1464;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    width: 85%;
}

header > section > .avantages-choix-container > div > div > ul{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
} 

/* sections */

.card-background{
    padding: 5rem 2rem;
    min-height: 100vh;
}

.card-background:first-of-type {
    background-color: #1B1464;
}

.card-background:last-of-type{
    background-color: white;
}

.card-background > h2 {
    margin-top: 5%;
    margin: 2rem;
    text-align: center;
}

.card-background > h2 > span {
    display: inline;
    color: #1B1464;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 5px;
    background-color: #EC008C;
    line-height: 4.5rem;
} 

.list-container{
    width: 100%;
}


.card-background .sep {
    background-color: #EC008C;
    width: 80%;
    height: 2px;
    margin: 1rem 2rem;
}

.card-background:last-of-type .sep{
    background-color: #00FFC5;
}

.card-background > .card-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    margin-top: 5%;
    gap: 5rem;
}

.card-background > .card-container > div {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    padding: 1.3rem 2rem;
    border-radius: 25px;
    justify-content: space-between;
}

.card-background > .card-container > div:nth-of-type(1){
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.card-background > .card-container > div:nth-of-type(2){
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.card-background > .card-container > div:nth-of-type(3){
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}


.card-background:last-of-type > .card-container > div{
    background-color: #1B1464;
}

.card-background:last-of-type > .card-container > div:nth-of-type(1){
    box-shadow: rgba(0, 255, 197, 0.4) -5px 5px, rgba(0, 255, 197, 0.3) -10px 10px, rgba(0, 255, 197, 0.2) -15px 15px, rgba(0, 255, 197, 0.1) -20px 20px, rgba(0, 255, 197, 0.05) -25px 25px;
}

.card-background:last-of-type > .card-container > div:nth-of-type(2){
    box-shadow: rgba(0, 255, 197, 0.4) 0px 5px, rgba(0, 255, 197, 0.3) 0px 10px, rgba(0, 255, 197, 0.2) 0px 15px, rgba(0, 255, 197, 0.1) 0px 20px, rgba(0, 255, 197, 0.05) 0px 25px;
}

.card-background:last-of-type > .card-container > div:nth-of-type(3){
    box-shadow: rgba(0, 255, 197, 0.4) 5px 5px, rgba(0, 255, 197, 0.3) 10px 10px, rgba(0, 255, 197, 0.2) 15px 15px, rgba(0, 255, 197, 0.1) 20px 20px, rgba(0, 255, 197, 0.05) 25px 25px;
}


.card-background h3 {
    text-align: center;
    color: #EC008C;
    font-size: 3rem;
    padding: 0;
    margin-bottom: 2vh;
}

.card-background:last-of-type h3{
    color: #00FFC5;
}

.card-container > .text-container {
    display: flex;
    align-items: center;
}

.card-container > div > .text-container > p {
    padding: 0 1rem;
    text-align: center;
    display: block;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.card-background:last-of-type > .card-container > div > .text-container > p{
    color: white;
}

.card-container ul {
    padding: 1.5rem 2.5rem;
    background-color: #d9d9d9;
}

.card-background:last-of-type > .card-container ul{
    background-color: rgba(0,0,0,0.25);
}

.card-container ul > li {
    color: black;
    font-weight: bold;
    line-height: 1.5rem;
}

.card-background:last-of-type > .card-container ul > li{
    color: white;
}

.card-container .see-more {
    background-color: #EC008C;
    border-radius: 20px;
    padding: 0.8rem 2rem;
    color: #e6e6e6;
    font-size: 1.3rem;
    cursor: pointer;
    border: #EC008C 2px solid;
    font-weight: bold;
}

.card-background:last-of-type > .card-container .see-more{
    background-color: #00FFC5;
    color: #1B1464;
    border-color: #00FFC5;
}

.card-container .see-more:hover {
    background-color: #e6e6e6;
    color: black;
}

.card-background:last-of-type > .card-container .see-more:hover{
    background-color: #1B1464;
    color: white;
}

@media screen and (max-width: 1475px){
    .card-background > .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        gap: 5rem;
    }

    .card-background > .card-container  > div:nth-of-type(n){
        width: 80%;
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }

    .card-background:last-of-type > .card-container > div:nth-of-type(n){
        box-shadow: rgba(0, 255, 197, 0.4) 5px 5px, rgba(0, 255, 197, 0.3) 10px 10px, rgba(0, 255, 197, 0.2) 15px 15px, rgba(0, 255, 197, 0.1) 20px 20px, rgba(0, 255, 197, 0.05) 25px 25px;
    }
}

@media screen and (max-width:1250px){
    header > section > .avantages-choix-container > div > h2{
        position: relative;
        top: 4rem;
    }
}

@media screen and (max-width:1100px) {
    header > section > .texte-illustration-container{
        display: block;
    }

    .illustration{
        display:none
    }
}

@media screen and (max-width:910px) {

    header > section > .avantages-choix-container{
        align-items: center;
        flex-direction: column;
    }

    header > section > .avantages-choix-container > div {
        width: 100%;
    }

    header > section > .avantages-choix-container > div > h2{
        top: 2.7rem;
    }

}

@media screen and (max-width:576px) {

    html{
       font-size: 13px; 
    }

}

@media screen and (max-width:400px){
    html{
        font-size: 10px; 
     }
}






